{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <a href="addnew/" class="btn btn-primary">Add new</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>price</th>
                <th width="200">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rs in products %}
            <tr>
            <td >{{ rs.id }}</td>
            <td >{{ rs.name }}</td>
            <td>{{ rs.price }}</td>
            <td>
                <a href="#" class="btn btn-success">Edit</a> | <a href="#" class="btn btn-danger">Delete</a>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}